<div fxLayout="column wrap" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Anmelden</mat-card-title>
        <mat-card-content>
            <form>
                <div fxLayout="column" fxLayoutAlign="start start">
                    <mat-form-field>
                        <input matInput required placeholder="E-Mail" [(ngModel)]="email" name="email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput required placeholder="Passwort" [(ngModel)]="password" name="password"
                               [type]="show ? 'text' : 'password'">
                        <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <button mat-raised-button (click)="login()">Anmelden</button>
                </div>
            </form>
            <p>
                <a routerLink="../register" routerLinkActive="active">Als Spielleiter registrieren?</a>
            </p>
        </mat-card-content>
    </mat-card>
</div>