<div fxLayout="column wrap" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Anmelden</mat-card-title>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field>
                    <input matInput required placeholder="Spiel ID" [(ngModel)]="gameId" name="gameId" type="number"
                           length="10" hintLabel="Spiel ID wird durch Spielleiter bereitgestellt">
                </mat-form-field>
                <mat-form-field>
                    <input matInput required placeholder="Benutzername" [(ngModel)]="username" name="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput required placeholder="Passwort" [(ngModel)]="password" name="password"
                           [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <button mat-raised-button (click)="login()">Anmelden</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>