<div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card>
        <mat-card-title>Registrieren</mat-card-title>
        <mat-card-content>
            Um als Spielleiter registriert zu werden, senden Sie bitte eine E-Mail an <a
                href="mailto:registrieren@soil.app">registrieren@soil.app</a>
            mit Angaben zu
            <ul>
                <li>Name</li>
                <li>Bildungseinrichtung</li>
                <li>Nachweis (z.B. Link auf Webseite der Schule oder Universität), dass Sie eine Lehrperson sind</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>