<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Als Spielleiter registrieren</mat-card-title>
        <mat-card-content>
            <p>
            Um sich als Spielleiter zu registrieren, füllen Sie bitte die folgenden Felder aus. Das Planspiel wird
            nur Lehrpersonen und Gruppenleitern bereitgestellt. Es ist deshalb erforderlich, dass Sie die Einrichtung,
            für die Sie tätig sind, angeben. Bitte verwenden Sie, wenn möglich, auch eine E-Mail-Adresse Ihrer Einrichtung.
            </p>
            <form [formGroup]="registerForm">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <mat-form-field>
                        <input matInput required placeholder="Vorname" formControlName="firstName" maxlength="128">
                        <mat-error *ngIf="registerForm.hasError('maxlength', 'firstName')">
                            Der Vorname darf maximal 128 Zeichen enthalten.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput required placeholder="Nachname" formControlName="lastName" maxlength="128">
                        <mat-error *ngIf="registerForm.hasError('maxlength', 'lastName')">
                            Der Nachname darf maximal 128 Zeichen enthalten.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput required placeholder="Einrichtung" formControlName="institution" minlength="3" maxlength="128">
                        <mat-error *ngIf="registerForm.hasError('minlength', 'institution')">
                            Die Einrichtung muss mindestens 3 Zeichen enthalten. Bitte verwenden Sie keine Acronyme (z.B. RWTH).
                        </mat-error>
                        <mat-error *ngIf="registerForm.hasError('maxlength', 'institution')">
                            Die Einrichtung darf maximal 128 Zeichen enthalten.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput required placeholder="E-Mail" type="email" formControlName="email" maxlength="128">
                        <mat-error *ngIf="registerForm.hasError('email', 'email')">
                            Bitte geben Sie eine gültige E-Mail Addresse ein.
                        </mat-error>
                        <mat-error *ngIf="registerForm.hasError('maxlength', 'email')">
                            Die E-Mail Addresse darf maximal 128 Zeichen enthalten.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput required placeholder="Passwort" formControlName="password" minlength="8" maxlength="128" type="password" formControlName="password">
                        <mat-error *ngIf="registerForm.hasError('required', 'password')">
                            Bitte geben Sie Ihr Passwort aus mindestens 8 Zeichen ein.
                        </mat-error>
                        <mat-error *ngIf="registerForm.hasError('minlength', 'password')">
                            Das Passwort muss mindenstens 8 Zeichen enthalten.
                        </mat-error>
                        <mat-error *ngIf="registerForm.hasError('maxlength', 'password')">
                            Das Passwort darf maximal 128 Zeichen enthalten.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Passwort Confirmation" maxlength="128" type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="registerForm.hasError('notSame')">
                            Die Passwörter stimmen nicht überein.
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button [disabled]="registerForm.invalid" (click)="register()">Als Spielleiter registrieren</button>
                </div>
            </form>
            <p>
                <a routerLink="../login" routerLinkActive="active">Als Spielleiter einloggen?</a>
            </p>
        </mat-card-content>
    </mat-card>
</div>