{
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "src/index.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
