<div class="page-container">
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>{{ "privacy.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section>
        <h2>{{ "privacy.introductionTitle" | translate }}</h2>
        <p>
          {{ "privacy.introductionText" | translate }}
        </p>
      </section>

      <section>
        <h2>{{ "privacy.informationWeCollectTitle" | translate }}</h2>
        <p>{{ "privacy.informationWeCollectText" | translate }}</p>
        <ul>
          <li>
            <strong>{{ "privacy.personalDataTitle" | translate }}</strong>
            <span>{{ "privacy.personalDataText" | translate }}</span>
          </li>
          <li>
            <strong>{{ "privacy.derivativeDataTitle" | translate }}</strong>
            <span>{{ "privacy.derivativeDataText" | translate }}</span>
          </li>
          <li>
            <strong>{{ "privacy.firebaseAuthDataTitle" | translate }}</strong>
            <span>{{ "privacy.firebaseAuthDataText" | translate }}</span>
          </li>
          <li>
            <strong>{{ "privacy.gameDataTitle" | translate }}</strong>
            <span>{{ "privacy.gameDataText" | translate }}</span>
          </li>
        </ul>
      </section>

      <section>
        <h2>{{ "privacy.useOfInformationTitle" | translate }}</h2>
        <p>{{ "privacy.useOfInformationText" | translate }}</p>
        <ul>
          <li>{{ "privacy.useOfInformationList.0" | translate }}</li>
          <li>{{ "privacy.useOfInformationList.1" | translate }}</li>
          <li>{{ "privacy.useOfInformationList.2" | translate }}</li>
          <li>{{ "privacy.useOfInformationList.3" | translate }}</li>
          <li>{{ "privacy.useOfInformationList.4" | translate }}</li>
          <li>{{ "privacy.useOfInformationList.5" | translate }}</li>
        </ul>
      </section>

      <section>
        <h2>{{ "privacy.disclosureOfInformationTitle" | translate }}</h2>
        <p>{{ "privacy.disclosureOfInformationText" | translate }}</p>
        <ul>
          <li>
            <strong>{{ "privacy.disclosureByLawTitle" | translate }}</strong>
            <span>{{ "privacy.disclosureByLawText" | translate }}</span>
          </li>
          <li>
            <strong>{{
              "privacy.disclosureServiceProvidersTitle" | translate
            }}</strong>
            <span>{{
              "privacy.disclosureServiceProvidersText" | translate
            }}</span>
          </li>
        </ul>
      </section>

      <section>
        <h2>{{ "privacy.securityOfInformationTitle" | translate }}</h2>
        <p>
          {{ "privacy.securityOfInformationText" | translate }}
        </p>
      </section>

      <section>
        <h2>{{ "privacy.yourDataRightsTitle" | translate }}</h2>
        <p>
          {{ "privacy.yourDataRightsText" | translate }}
        </p>
        <ul>
          <li>{{ "privacy.yourDataRightsList.0" | translate }}</li>
          <li>{{ "privacy.yourDataRightsList.1" | translate }}</li>
          <li>{{ "privacy.yourDataRightsList.2" | translate }}</li>
          <li>{{ "privacy.yourDataRightsList.3" | translate }}</li>
          <li>{{ "privacy.yourDataRightsList.4" | translate }}</li>
          <li>{{ "privacy.yourDataRightsList.5" | translate }}</li>
        </ul>
      </section>

      <section>
        <h2>{{ "privacy.contactUsTitle" | translate }}</h2>
        <p>
          {{ "privacy.contactUsText" | translate }}
        </p>
        <p>
          Florian Feldhaus<br />
          Email: privacy [at] soil.app (or the admin email for data protection
          from Impressum)
        </p>
      </section>
    </mat-card-content>
  </mat-card>
</div>
