@reference "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-900/50 rounded;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
