:host {
  display: block;
  height: 100%;
  container-type: size;
}

:host(.selected) {
  position: relative;
  z-index: 40; // Above grid, but below modals (z-50) and nav (z-10 relative?)

  .selected-border {
    border-color: #34d399 !important; // emerald-400
    box-shadow: 0 0 15px 4px rgba(52, 211, 153, 0.6);
  }
}