<!-- File: frontend/src/app/features/admin/admin-layout/admin-layout.component.html -->
<div class="app-layout-container admin-layout-container">
  <mat-toolbar color="primary" class="app-toolbar admin-toolbar">
    <a routerLink="/admin/dashboard" class="toolbar-title">Soil Game - Admin</a>
    <span class="spacer"></span>

    <!-- Desktop Menu -->
    <div class="toolbar-links" *ngIf="!(isHandset$ | async)">
      <a mat-button *ngFor="let item of adminNavItems" [routerLink]="item.link" routerLinkActive="active-link">
        <mat-icon *ngIf="item.icon" class="toolbar-icon">{{ item.icon }}</mat-icon> {{ item.label }}
      </a>
      <button mat-button (click)="onLogout()">
        <mat-icon class="toolbar-icon">logout</mat-icon> Logout
      </button>
      <span class="user-email" *ngIf="authService.currentUser()?.email">({{ authService.currentUser()?.email }})</span>
    </div>

    <!-- Mobile Menu -->
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu" *ngIf="isHandset$ | async" class="mobile-menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <a mat-menu-item *ngFor="let item of adminNavItems" [routerLink]="item.link" routerLinkActive="active-link">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <main class="app-content-wrapper content-wrapper">
    <router-outlet></router-outlet>
  </main>
  <div class="app-footer-wrapper admin-footer">
    <!-- <app-footer></app-footer> Removed -->
  </div>
</div>
