<div class="page-container">
    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>Background Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The United Nations Conference on Environment and Development in 1992 declared "sustainability"
          a global development goal. This is to be achieved through an integrative view of economic,
          ecological, and social issues, enabling a fair distribution of life chances between current
          and future generations.
        </p>
        <p>
          The German Conference of Ministers of Education and Cultural Affairs (KMK) therefore considers it
          a central task of schools to "enable students to actively shape an ecologically compatible,
          economically efficient, and socially just environment" (KMK, 2007, p. 1).
        </p>
        <p>
          To convey the idea of sustainability based on a cohesive view of economy and ecology, the
          simulation game "Soil" was developed. In this game, students engage with the topic of
          agriculture. They are tasked with establishing a permanently productive agricultural operation
          in groups over ten (now configurable, e.g., 15) game rounds.
        </p>
        <p>
          To achieve this goal, groups can steer the development of their farm by planting crops and
          choosing different cultivation methods. Feedback on the ecological and economic impacts of
          their decisions is provided after each game round. Based on this feedback, they can assess
          the success of their strategy and modify it if necessary.
        </p>
        <p>
          This way, learners can discover the centrality of ecological variables as natural limits to
          their economic activities in a hands-on manner and thus learn to understand and manage
          sustainable development processes.
        </p>
        <p>
          Further background information and complete game materials are available for download in the
          internal area of the homepage (for registered administrators). New games can also be created
          and managed there. Access to the internal area requires registration as a game administrator.
        </p>
        <h3>Literature</h3>
        <p>
          Recommendation of the Standing Conference of the Ministers of Education and Cultural Affairs
          of the Länder in the Federal Republic of Germany (KMK) and the German Commission for UNESCO
          (DUK) of June 15, 2007, on "Education for Sustainable Development in Schools".
        </p>
      </mat-card-content>
    </mat-card>
  </div>