<!-- File: frontend/src/app/shared/components/impressum/impressum.component.html -->
<div class="impressum-container">
    <mat-card>
        <mat-card-title>Kontakt</mat-card-title>
        <mat-card-content>
            <p>
                Florian Feldhaus<br>
                Kanonikerweg 2<br>
                59494 Soest<br>
                Email: florian.feldhaus&#64;soil.app
            </p>
            <b>Verantwortlich für den Inhalt:</b>
            <p>
                Nina Wolf<br>
                Kanonikerweg 2<br>
                59494 Soest<br>
                Email: nina.wolf&#64;soil.app
            </p>

            <b>Quellenangaben für verwendete Bilder:</b>
            <ul>
                <li>
                    <a href="https://commons.wikimedia.org/wiki/File:Farmstead_in_winter,_Windsor_Township,_Berks_County,_Pennsylvania.jpg" target="_blank" rel="noopener noreferrer">Hintergrundbild Farmstead, Windsor Township, Berks County</a>
                </li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Drought.jpg" target="_blank" rel="noopener noreferrer">Dürre</a></li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Ostrinia.nubilalis.7771.jpg" target="_blank" rel="noopener noreferrer">Maiszünsler</a></li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Marienk%C3%A4fer_0241.jpg" target="_blank" rel="noopener noreferrer">Marienkäfer</a></li>
                <li><a href="http://www.oekolandbau.de" target="_blank" rel="noopener noreferrer">Ökolandbau - Das Informationsportal</a></li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Organic-Logo.svg" target="_blank" rel="noopener noreferrer">Logo "Euro-Blatt", Bio-Siegel nach Verordnung (EG) Nr.834/2007</a></li>
                <li><a href="https://www.landwirtschaftskammer.de" target="_blank" rel="noopener noreferrer">Landwirtschaftskammer Nordrhein-Westfalen</a></li>
                <li><a href="https://www.bio-siegel.de/" target="_blank" rel="noopener noreferrer">Bio-Siegel</a></li>
            </ul>

            <b>Haftungsausschluss:</b>
            <p>
                Für Richtigkeit und Vollständigkeit der Inhalte dieser Webseite wird keine Gewähr übernommen.
                Die Inhalte dieser Seite unterliegen dem deutschen Urheberrecht. Jegliche Vervielfältigung oder
                Verbreitung bedarf der schriftlichen Zustimmung. Downloads und Kopien sind nur für den nicht
                kommerziellen Gebrauch gestattet.
                Es wird keine Verantwortung für Inhalte von Seiten externer Anbieter übernommen, auf die mit Links
                verwiesen wird.
                Für externe Seiten sind ausschließlich die jeweiligen Anbieter verantwortlich.
                Die Nutzung der Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
                Personenbezogene Daten, die zur Registrierung als Spielleitung erforderlich sind, sowie Spieldaten
                werden nicht an Dritte weitergegeben.
            </p>
        </mat-card-content>
    </mat-card>
</div>
