html {
    background: url('assets/images/bauernhof.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    margin: 0;
    height: 100vh;
    overscroll-behavior-y: none;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. */
    flex: 1 1 auto;
}

/* The following are hacks and should be replaced by proper Angular Material Theme Overwrites */

.mat-toolbar {
    background-color: rgba(50, 50, 100, 0.8) !important;
}

.mat-drawer.mat-sidenav {
    background-color: rgba(50, 50, 100, 0.8) !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent !important;
}

.mat-sidenav-container {
    background: none !important;
}

.mat-sidenav-content {
    margin: 1vh 1vh !important;
}

.mat-nav-list .mat-list-item {
    color: white !important;
}

.mat-card {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.mat-toolbar-multiple-rows {
    min-height: 5vh !important;
}

.mat-tab-label {
    background-color: rgba(50, 50, 100, 0.7) !important;
}

.mat-tab-link {
    min-height: 3vh !important;
    min-width: 80px;
    background-color: white;
    border: 1px solid black;
    margin: 1px;
}

.mat-tab-label-active {
    opacity: 1;
}

.result table {
    width: 98%;
}

.result td {
    width: 100px;
    text-align: right;
}

.mat-expansion-panel-body {
    padding: 0;
}

.mat-expansion-panel-header {
    padding-right: 0;
}

.mat-button {
    line-height: 24px;
}

.mat-button.active, .mat-list-item.active {
    background: rgba(255, 255, 255, 0.3);
}

.mat-form-field-infix {
    width: 30em !important;
}