<div style="position: relative">
    <div fxLayout="row wrap" fxLayoutAlign="center center" id="container" #container class="ui-container">
        <div fxFlex="12.5" class="parcel {{parcel.plantation | lowercase}} ui-selectable" *ngFor="let parcel of parcels"
             [attr.parcel-index]=parcel.id>
            <svg viewBox="0 0 90 20">
                <text x="45" y="10">{{parcel.plantation.replace('Zuckerruebe','Zuckerrübe')}}</text>
            </svg>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="overlay=='soil'" class="overlay">
        <div fxFlex="12.5" class="parcel" *ngFor="let parcel of parcels"
             [ngStyle]="{'background-color': 'hsla(' + (1.5 * parcel.soil - 20)  + ',100%,40%,0.6)'}">
            <svg viewBox="0 0 90 90">
                <text x="45" y="45">{{parcel.soil}}%</text>
            </svg>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="overlay=='nutrition'" class="overlay">
        <div fxFlex="12.5" class="parcel" *ngFor="let parcel of parcels"
             [ngStyle]="{'background-color': 'hsla(' + (1.5 * parcel.nutrition - 20)  + ',100%,40%,0.6)'}">
            <svg viewBox="0 0 90 90">
                <text x="45" y="45">{{parcel.nutrition}}%</text>
            </svg>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="overlay=='cropsequence'" class="overlay">
        <div fxFlex="12.5" class="parcel {{parcel.cropsequence | lowercase }}" *ngFor="let parcel of parcels">
            <svg viewBox="0 0 90 90">
                <text x="45" y="45">{{parcel.cropsequence}}</text>
            </svg>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="overlay=='harvest'" class="overlay">
        <div fxFlex="12.5" class="parcel {{parcel.harvest | lowercase }}" *ngFor="let parcel of parcels">
            <svg viewBox="0 0 90 90">
                <text x="45" y="36">
                    {{parcel.harvest.replace('_',' ')}}
                </text>
                <text x="45" y="54">
                    ({{parcel.harvestYield}} dT)
                </text>
            </svg>
            <!--<div class="parcel-content">{{parcel.harvest}}</br><div>({{parcel.harvestYield}} dT)</div></div>-->
        </div>
    </div>
</div>