<div style="position: relative">
    <div fxLayout="row wrap" fxLayoutAlign="center center" id="container" #container class="ui-container">
        <div fxFlex="12.5" class="parcel {{parcel.plantation | lowercase}} ui-selectable" *ngFor="let parcel of parcels"
             [attr.parcel-index]=parcel.id>
            <div class="parcel-content">{{parcel.plantation}}</div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="overlay=='soil'" class="overlay">
        <div fxFlex="12.5" class="parcel" *ngFor="let parcel of parcels"
             [ngStyle]="{'background-color': 'hsla(' + (1.5 * parcel.soil - 20)  + ',100%,40%,0.6)'}">
            <div class="parcel-content">{{parcel.soil}}%</div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="overlay=='nutrition'" class="overlay">
        <div fxFlex="12.5" class="parcel" *ngFor="let parcel of parcels"
             [ngStyle]="{'background-color': 'hsla(' + (1.5 * parcel.nutrition - 20)  + ',100%,40%,0.6)'}">
            <div class="parcel-content">{{parcel.nutrition}}%</div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="overlay=='cropsequence'" class="overlay">
        <div fxFlex="12.5" class="parcel {{parcel.cropsequence | lowercase }}" *ngFor="let parcel of parcels">
            <div class="parcel-content">{{parcel.cropsequence}}</div>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="overlay=='harvest'" class="overlay">
        <div fxFlex="12.5" class="parcel {{parcel.harvest | lowercase }}" *ngFor="let parcel of parcels">
            <div class="parcel-content">{{parcel.harvest}}</br><div>({{parcel.harvestYield}} dT)</div></div>
        </div>
    </div>
</div>