<div id="container" #container class="ui-container">
    <div class="parcel {{parcel.plantation | lowercase}} ui-selectable" *ngFor="let parcel of parcels" [attr.parcel-index]=parcel.id>
        {{parcel.plantation}}
    </div>
</div>
<!--
<div class="soil" *ngIf="show=='soil'">
    <ol class="ui-selectable">
        <li (click)="showParcelInformation(parcel)" style="background-size: 0; background-color: hsl({{1.5*parcel.soil-20}},100%,40%);" *ngFor="let parcel of rounds[selectedRound - 1].field.parcels"
            class="ui-state-default">
            {{parcel.soil}}%
        </li>
    </ol>
</div>
<div class="nutrition" *ngIf="show=='nutrition'">
    <ol class="ui-selectable">
        <li (click)="showParcelInformation(parcel)" style="background-size: 0; background-color: hsl({{1.5*parcel.nutrition-20}},100%,40%);" *ngFor="let parcel of rounds[selectedRound - 1].field.parcels"
            class="ui-state-default">
            {{parcel.nutrition}}%
        </li>
    </ol>
</div>
<div class="cropsequence" *ngIf="show=='cropsequence'">
    <ol class="ui-selectable">
        <li (click)="showParcelInformation(parcel)" *ngFor="let parcel of rounds[selectedRound - 1].field.parcels"
            class="{{parcel.cropsequence | lowercase}} ui-state-default">
            {{parcel.cropsequence}}
        </li>
    </ol>
</div>
<div class="harvest" *ngIf="show=='harvest'">
    <ol class="ui-selectable">
        <li (click)="showParcelInformation(parcel)" *ngFor="let parcel of rounds[selectedRound - 1].field.parcels"
            class="{{parcel.harvest | lowercase}} ui-state-default">
            {{parcel.harvest.split('_').join(' ');}}</br><div style="line-height: 0em;">({{parcel.harvest_yield}} dT)</div>
        </li>
    </ol>
</div>
-->
