#container, #overlay {
    height: 100vh;
}

.parcel {
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    border: 1px solid black;
    width: 20vh;
    height: 20vh;
    font-size: 1em;
    text-align: center;
}

.parcel-selection {
    padding-bottom: 17%;
}

#overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.ui-selecting {
    border: 1px solid red;
}

.ui-selected {
    border: 1px solid orange;
}

.brachland {
    background-image: url('../../../assets/images/brachland.jpg') !important;
}

.ackerbohne {
    background-image: url('../../../assets/images/ackerbohne.jpg') !important;
}

.gerste {
    background-image: url('../../../assets/images/gerste.jpg') !important;
}

.hafer {
    background-image: url('../../../assets/images/hafer.jpg') !important;
}

.kartoffel {
    background-image: url('../../../assets/images/kartoffel.jpg') !important;
}

.mais {
    background-image: url('../../../assets/images/mais.jpg') !important;
}

.roggen {
    background-image: url('../../../assets/images/roggen.jpg') !important;
}

.tiere {
    background-image: url('../../../assets/images/tiere.jpg') !important;
}

.weizen {
    background-image: url('../../../assets/images/weizen.jpg') !important;
}

.zuckerrübe {
    background-image: url('../../../assets/images/zuckerruebe.jpg') !important;
}

.sehr_hoch, .gut {
    background-color: rgba(0, 219, 1, 0.6) !important;
}

.hoch {
    background-color: rgba(183, 220, 54, 0.6) !important;
}

.maessig, .ok {
    background-color: rgba(255, 213, 53, 0.6) !important;
}

.niedrig {
    background-color: rgba(255, 107, 0, 0.6) !important;
}

.sehr_niedrig, .schlecht {
    background-color: rgba(188, 26, 5, 0.6) !important;
}

.keine, .keiner {
    background-color: rgba(156, 156, 156, 0.6) !important;
}