<div fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]" mat-button>SOIL - Gruppe {{player.email.substring(6,7)}}</a>
            </span>
            <div fxShow="true" fxHide.lt-md="true">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-button>
                    Spielfeld
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   [queryParams]="{overlay:'cropsequence'}"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-button>
                    Fruchtfolge
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   [queryParams]="{overlay:'soil'}"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-button>
                    Bodenqualität
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   [queryParams]="{overlay:'nutrition'}"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-button>
                    Mineralstoffe
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   [queryParams]="{overlay:'harvest'}"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-button>
                    Ernteertrag
                </a>
                <a [routerLink]="['round',selectedRound.id,'results']"
                   routerLinkActive="active"
                   (click)="display = 'results'"
                   mat-button>
                    Finanzen
                </a>
                <button mat-button [disabled]="selectedRound.submitted || selectedRound.last" (click)="endRound()">
                    Runde abschicken
                </button>
                <button mat-button (click)="logout()">
                    Logout
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex="1 1 auto">
        <mat-sidenav #sidenav [mode]="'over'">
            <mat-nav-list fxShow>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-list-item>
                    Spielfeld
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   [queryParams]="{overlay:'cropsequence'}"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-list-item>
                    Fruchtfolge
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   [queryParams]="{overlay:'soil'}"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-list-item>
                    Bodenqualität
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   [queryParams]="{overlay:'nutrition'}"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-list-item>
                    Mineralstoffe
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]"
                   [queryParams]="{overlay:'harvest'}"
                   (click)="display = 'field'"
                   routerLinkActive="active"
                   mat-list-item>
                    Ernteertrag
                </a>
                <a [routerLink]="['round',selectedRound.id,'results']"
                   routerLinkActive="active"
                   (click)="display = 'results'"
                   mat-list-item>
                    Finanzen
                </a>
                <button mat-list-item [disabled]="selectedRound.submitted || selectedRound.last" (click)="endRound()">
                    Runde abschicken
                </button>
                <button mat-list-item (click)="logout()">
                    Logout
                </button>
                <button (click)="sidenav.toggle()" mat-list-item>
                    <mat-icon>close</mat-icon>
                    Close
                </button>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex="0 1 130vh" fxLayout="column" fxLayoutAlign="center stretch">
                <nav *ngIf="display == 'field'" mat-tab-nav-bar>
                    <a mat-tab-link *ngFor="let round of rounds"
                       [routerLink]="['round',round.id,'field',round.fieldId]"
                       queryParamsHandling="merge"
                       (click)="this.selectedRound = round"
                       [active]="this.selectedRound == round">{{round.name}}</a>
                </nav>
                <nav *ngIf="display == 'results'" mat-tab-nav-bar>
                    <a mat-tab-link *ngFor="let round of rounds"
                       [routerLink]="['round',round.id,'results']"
                       queryParamsHandling="merge"
                       (click)="this.selectedRound = round"
                       [active]="this.selectedRound == round">{{round.name}}</a>
                </nav>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer fxFlex="0 1 auto"></footer>
</div>