<div style="min-height: 100vh;" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span>
                <a href="../" mat-button>Soil</a>
            </span>
            <div fxShow="true" fxHide.lt-md="true">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]" routerLinkActive="active" mat-button>
                    Spielfeld
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]" [queryParams]="{overlay:'cropsequence'}" routerLinkActive="active" mat-button>
                    Fruchtfolge
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]" [queryParams]="{overlay:'soil'}" routerLinkActive="active" mat-button>
                    Bodenqualität
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]" [queryParams]="{overlay:'nutrition'}" routerLinkActive="active" mat-button>
                    Mineralstoffe
                </a>
                <a [routerLink]="['round',selectedRound.id,'field',selectedRound.fieldId]" [queryParams]="{overlay:'harvest'}" routerLinkActive="active" mat-button>
                    Ernteertrag
                </a>
                <a [routerLink]="['round',selectedRound.id,'finance',selectedRound.financeId]" routerLinkActive="active" mat-button>
                    Finanzen
                </a>
                <a mat-button>
                    Runde abschicken
                    <mat-icon>send</mat-icon>
                </a>
                <a mat-button (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex="1 1 auto">
        <mat-sidenav #sidenav [mode]="'over'">
            <mat-nav-list fxShow fxHide.xs>
                <a routerLink="overview" routerLinkActive="active" mat-list-item>
                    <mat-icon>home</mat-icon>
                    Übersicht
                </a>
                <a routerLink="background" routerLinkActive="active" mat-list-item>
                    <mat-icon>details</mat-icon>
                    Hintergrundinformationen
                </a>
                <a routerLink="login" routerLinkActive="active" mat-list-item>
                    <mat-icon>account_box</mat-icon>
                    Login
                </a>
                <a routerLink="register" routerLinkActive="active" mat-list-item>
                    <mat-icon>person_add</mat-icon>
                    Register
                </a>
                <a (click)="sidenav.toggle()" mat-list-item>
                    <mat-icon>close</mat-icon>
                    Close
                </a>
            </mat-nav-list>
            <mat-nav-list fxHide fxShow.xs>
                <a routerLink="overview" routerLinkActive="active" mat-list-item>
                    <mat-icon>home</mat-icon>
                </a>
                <a routerLink="background" routerLinkActive="active" mat-list-item>
                    <mat-icon>details</mat-icon>
                </a>
                <a routerLink="login" routerLinkActive="active" mat-list-item>
                    <mat-icon>account_box</mat-icon>
                </a>
                <a routerLink="register" routerLinkActive="active" mat-list-item>
                    <mat-icon>person_add</mat-icon>
                </a>
                <a (click)="sidenav.toggle()" mat-list-item>
                    <mat-icon>close</mat-icon>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex.gt-md="1280px">
                <mat-tab-group>
                    <mat-tab *ngFor="let round of rounds" (selectedTabChange)="roundChanged($event)" [label]="'Round ' + round.number">
                        <router-outlet></router-outlet>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer fxFlex="0 1 auto"></footer>
</div>