<div class="page-container">
    <mat-card class="info-card">
        <mat-card-header>
            <mat-card-title>{{ 'imprint.title' | translate }}</mat-card-title>
        </mat-card-header>        
        <mat-card-content>
            <p>
                Florian Feldhaus<br>
                Kanonikerweg 2<br>
                59494 Soest<br>
                Email: florian.feldhaus&#64;soil.app
            </p>
            <b>{{ 'imprint.responsibleContent' | translate }}</b>
            <p>
                Nina Wolf<br>
                Kanonikerweg 2<br>
                59494 Soest<br>
                Email: nina.wolf&#64;soil.app
            </p>

            <b>{{ 'imprint.imageSources' | translate }}</b>
            <ul>
                <li>
                    <a href="https://commons.wikimedia.org/wiki/File:Farmstead_in_winter,_Windsor_Township,_Berks_County,_Pennsylvania.jpg" target="_blank" rel="noopener noreferrer">{{ 'imprint.imageSource1' | translate }}</a>
                </li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Drought.jpg" target="_blank" rel="noopener noreferrer">{{ 'imprint.imageSource2' | translate }}</a></li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Ostrinia.nubilalis.7771.jpg" target="_blank" rel="noopener noreferrer">{{ 'imprint.imageSource3' | translate }}</a></li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Marienk%C3%A4fer_0241.jpg" target="_blank" rel="noopener noreferrer">{{ 'imprint.imageSource4' | translate }}</a></li>
                <li><a href="http://www.oekolandbau.de" target="_blank" rel="noopener noreferrer">{{ 'imprint.imageSource5' | translate }}</a></li>
                <li><a href="https://commons.wikimedia.org/wiki/File:Organic-Logo.svg" target="_blank" rel="noopener noreferrer">{{ 'imprint.imageSource6' | translate }}</a></li>
                <li><a href="https://www.landwirtschaftskammer.de" target="_blank" rel="noopener noreferrer">{{ 'imprint.imageSource7' | translate }}</a></li>
                <li><a href="https://www.bio-siegel.de/" target="_blank" rel="noopener noreferrer">{{ 'imprint.imageSource8' | translate }}</a></li>
            </ul>

            <b>{{ 'imprint.disclaimerTitle' | translate }}</b>
            <p>
                {{ 'imprint.disclaimerParagraph1' | translate }}
            </p>
            <p>
                {{ 'imprint.disclaimerParagraph2' | translate }}
            </p>
            <p>
                {{ 'imprint.disclaimerParagraph3' | translate }}
            </p>
        </mat-card-content>
    </mat-card>
</div>
